<div class="containerPage">
    <div class="headerPage">
        <h1 class="headerPage__title" id="headerPageTitle"></h1>
        <div class="headerPage__search search">
            <input  class="search__input" id="searchInput" type="text" placeholder="Какой магазин вам нужен?">
            <svg class="search__icon" width="20" height="20" id="searchIcon">
                <use xlink:href="assets/icons/symbols.svg#search"
                     xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </div>
    </div>
    <div class="shops">
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        пробка на мира
                    </div>
                    <div class="cart__text">
                        Вечер
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        50%
                    </div>
                    <div class="cart__textSale">
                        скидка
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/wine.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        кИНО И НЕМЦЫ
                    </div>
                    <div class="cart__text">
                        Бесплатный бокал пива
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        ВАРВАР
                    </div>
                    <div class="cart__textSale">
                        ПРОМОКОД
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/beer.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        valery cakes
                    </div>
                    <div class="cart__text">
                        Торт
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        30%
                    </div>
                    <div class="cart__textSale">
                        скидка
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/cake.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        sushi sell
                    </div>
                    <div class="cart__text">
                        Набор “Праздник”
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        45%
                    </div>
                    <div class="cart__textSale">
                        скидка
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/sushi.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        mangosteen
                    </div>
                    <div class="cart__text">
                        Фрукт в подарок
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        J130
                    </div>
                    <div class="cart__textSale">
                        купон
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/pineapple.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        теленок табака
                    </div>
                    <div class="cart__text">
                        Стейк “Мачете”
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        20%
                    </div>
                    <div class="cart__textSale">
                        скидка
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/calf.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        fire food
                    </div>
                    <div class="cart__text">
                        Вторая шаурма в подарок
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        ОГОНЬ
                    </div>
                    <div class="cart__textSale">
                        промокод
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/shawarma.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        aroma cremeria
                    </div>
                    <div class="cart__text">
                        Джелато “Пармезан”
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        20%
                    </div>
                    <div class="cart__textSale">
                        Скидка
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/frozen.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        пробка на мира
                    </div>
                    <div class="cart__text">
                        Вечер для двоих
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        J130
                    </div>
                    <div class="cart__textSale">
                        КУПОН
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/wine.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        Кино и немцы
                    </div>
                    <div class="cart__text">
                        Бесплатный бокал пива
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        ВАРВАР
                    </div>
                    <div class="cart__textSale">
                        ПРОМОКОД
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/beer.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        VALERY CAKES
                    </div>
                    <div class="cart__text">
                        Торт
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        30%
                    </div>
                    <div class="cart__textSale">
                        скидка
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/cake.png" class="cart__image" alt="img">
            </div>
        </div>
        <div class="shop_item cart">
            <div class="cart__info">
                <div class="cart__item cart__item_header">
                    <div class="cart__title">
                        sushi sell
                    </div>
                    <div class="cart__text">
                        Набор “Праздник”
                    </div>
                </div>
                <div class="cart__item">
                    <div class="cart__sale">
                        45%
                    </div>
                    <div class="cart__textSale">
                        скидка
                    </div>
                </div>
            </div>
            <div class="cart__picture">
                <img src="assets/images/cart/sushi.png" class="cart__image" alt="img">
            </div>
        </div>
    </div>
</div>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <title>Site</title>
  <link rel="stylesheet" href="styles/styles.min.css?ver=0">
  <link rel="stylesheet" href="styles/slick-theme.css">
  <link rel="stylesheet" href="styles/slick.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <meta name="keywords" content="Site">
  <meta property="og:title" content="Site" />
  <meta property="og:description" content="Site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://Site.ru/" />
  
  <script>
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
        document.write('<script src="scripts/svg4everybody.min.js"><\/script>');
        document.write('<script src="scripts/picturefill.min.js"><\/script>');
        document.write('<script src="scripts/fitie.min.js"><\/script>');
  </script>
</head>
<div class="headerPage">
    <h1 class="headerPage__title" id="headerPageTitle"></h1>
    <div class="headerPage__search search">
        <input  class="search__input" id="searchInput" type="text" placeholder="Какой магазин вам нужен?">
        <svg class="search__icon" width="20" height="20" id="searchIcon">
            <use xlink:href="assets/icons/symbols.svg#search"
                 xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </div>
</div>
<div class="menu">
    <div class="menu__nav" id="burger">
        <svg class="menu__icon" width="24" height="24">
            <use xlink:href="assets/icons/symbols.svg#burger"
                 xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </div>
    <div class="menu__nav" id="close">
        <svg class="menu__icon" width="24" height="24">
            <use xlink:href="assets/icons/symbols.svg#close"
                 xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </div>
    <div class="menu__header">
        <img src="assets/images/logo.png" class="menu__img" alt="img">
        <h3 class="menu__title">BECO</h3>
    </div>
    <div class="menu__list menuList">
        <ul class="menuList__list">
            <li class="menuList__item" data-title="Каталог">
                <a href="#" class="menuList__link">
                    <svg class="menuList__icon" width="24" height="24">
                        <use xlink:href="assets/icons/symbols.svg#catalog"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Каталог</span>
                </a>
            </li>
            <li class="menuList__item menuList__item_active" data-title="Здоровье">
                <a href="#" class="menuList__link">
                    <svg class="menuList__icon" width="24" height="24">
                        <use xlink:href="assets/icons/symbols.svg#health"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Здоровье</span>
                </a>
            </li>
            <li class="menuList__item " data-title="Красота">
                <a href="#" class="menuList__link" >
                    <svg class="menuList__icon" width="24" height="22">
                        <use xlink:href="assets/icons/symbols.svg#beauty"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Красота</span>
                </a>
            </li>
            <li class="menuList__item " data-title="Развлечения">
                <a href="#" class="menuList__link">
                    <svg class="menuList__icon" width="22" height="24">
                        <use xlink:href="assets/icons/symbols.svg#entertainment"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Развлечения</span>
                </a>
            </li>
            <li class="menuList__item " data-title="Авто">
                <a href="#" class="menuList__link">
                    <svg class="menuList__icon" width="24" height="24">
                        <use xlink:href="assets/icons/symbols.svg#car" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Авто</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="shops">
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    пробка на мира
                </div>
                <div class="cart__text">
                    Вечер
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    50%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/wine.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    кИНО И НЕМЦЫ
                </div>
                <div class="cart__text">
                    Бесплатный бокал пива
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    ВАРВАР
                </div>
                <div class="cart__textSale">
                    ПРОМОКОД
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/beer.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    valery cakes
                </div>
                <div class="cart__text">
                    Торт
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    30%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/cake.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    sushi sell
                </div>
                <div class="cart__text">
                    Набор “Праздник”
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    45%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/sushi.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    mangosteen
                </div>
                <div class="cart__text">
                    Фрукт в подарок
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    J130
                </div>
                <div class="cart__textSale">
                    купон
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/pineapple.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    теленок табака
                </div>
                <div class="cart__text">
                    Стейк “Мачете”
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    20%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/calf.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    fire food
                </div>
                <div class="cart__text">
                    Вторая шаурма в подарок
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    ОГОНЬ
                </div>
                <div class="cart__textSale">
                    промокод
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/shawarma.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    aroma cremeria
                </div>
                <div class="cart__text">
                    Джелато “Пармезан”
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    20%
                </div>
                <div class="cart__textSale">
                    Скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/frozen.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    пробка на мира
                </div>
                <div class="cart__text">
                    Вечер для двоих
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    J130
                </div>
                <div class="cart__textSale">
                    КУПОН
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/wine.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    Кино и немцы
                </div>
                <div class="cart__text">
                    Бесплатный бокал пива
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    ВАРВАР
                </div>
                <div class="cart__textSale">
                    ПРОМОКОД
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/beer.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    VALERY CAKES
                </div>
                <div class="cart__text">
                    Торт
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    30%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/cake.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    sushi sell
                </div>
                <div class="cart__text">
                    Набор “Праздник”
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    45%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/sushi.png" class="cart__image" alt="img">
        </div>
    </div>
</div>