html,body {
  width: 100%; 
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: @bg1;
  color: @color1;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


a {
  color: @color1;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  box-shadow: none;
  color: @color1;
  font-family: @font1;
}

textarea {
  resize: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

input:focus::-moz-placeholder {
  color: transparent
}

input:focus:-moz-placeholder {
  color: transparent
}

input:focus:-ms-input-placeholder {
  color: transparent
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
  -webkit-appearance: none;
}

input[type="search"] {-webkit-appearance: none; border-radius: 0 0 0 0;}

input,
textarea,
button {
  font-family: @font1;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}