// Разрешение экрана

@before-w400: ~"(max-width: 399px)";
@before-w500: ~"(max-width: 499px)";
@before-w600: ~"(max-width: 599px)";
@before-w700: ~"(max-width: 699px)";
@before-w768: ~"(max-width: 767px)";
@before-w960: ~"(max-width: 959px)";
@before-w1170: ~"(max-width: 1169px)";
@before-w1340: ~"(max-width: 1339px)";
@before-w1560: ~"(max-width: 1559px)";

@before-w1680: ~"(max-width: 1680px)";
@w1680: ~"(min-width: 1680px)";

@before-w1860: ~"(max-width: 1860px)";

@w500-w768: ~"(min-width: 500px) and (max-width: 768px)";

@full-hd: ~"(min-width: 1920px)";
@retina: ~"(min-resolution:144dpi), (min-resolution: 1.5dppx)";

@low-height: ~"(max-height: 600px)";

@low-height-mobile: ~"(max-width: 767px) and (max-height: 600px)";

@landscape: ~"(orientation: landscape)";

@landscape-mobile: ~"(max-width: 767px) and (orientation: landscape)";

// Цветовая палитра
@bg1: #fff;
@color1: #000;
@color2: #262626;

@menu-w: 240px;
@menu-w768: 104px;
@menu-w500: 12px;


@containerPadding: 40px 40px 0;
@containerPadding-w768: 40px 26px 0;
@containerPadding-w500: 40px 20px 0;

@colorActive: #34ABE0;
@colorMenu: #333333;

@font1: Roboto;

