.headerPage{
  padding: @containerPadding;
  background-color: #fff;
  &__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: @color1;
    opacity: 0.85;
    text-align: left;
    margin-bottom: 0;
    z-index: 130;
    position: relative;
    @media@before-w1170{
      text-align: right;
    }
    @media@before-w500{
      font-size: 24px;
      line-height: 32px;
    }
  }
  @media@before-w1170{
    padding: @containerPadding-w768;
  }
  @media@before-w500{
    padding: @containerPadding-w500;
  }
  &__search{
    padding-top:30px;
    padding-bottom: 40px;
  }
}
.search{
  position: relative;
  max-width: 1080px;
  z-index: 110;
  top : -5px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #E5E5E5;
  transition: all .3s;
  &__input{
    width: 100%;
    box-sizing: border-box;
    outline: unset;
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding: 12px 44px;
    border-radius: 50px;
    font-family: @mainFont;
    color: rgba(0, 0, 0, 0.45);
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    position: relative;
    &::placeholder{
      font-family: @mainFont;
      color: rgba(0, 0, 0, 0.45);
      font-size: 18px;
      line-height: 28px;
      font-weight: normal;
    }
  }
  &__icon{
    position: absolute;
    display: block;
    top: 48px;
    left: 15px;
    color: #D6D6D6;
  }
  @media@before-w768{
    padding-bottom: 20px;
  }
  @media@before-w500{
    &__input{
      font-size: 14px;
      padding: 12px 22px 12px 44px;
      &::placeholder{
        font-size: 14px;
      }
    }
  }
}