@paddingLeft: 46px;
@paddingLef-w768: 40px;
@paddingLef-w500: 30px;

.menu{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  background: #F3F4F9;
  width: @menu-w;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  transition: all .3s;
  z-index: 120;
  &__nav{
    color: @color2;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 41px;
    z-index: 10;
    right: -30px;
  }
  &__header{
    display: flex;
    justify-content: start;
    padding-left: @paddingLeft;
    margin-top: 40px;
  }
  &__img{
    width:50px;
    height: 50px;
    margin-right: 15px;
  }
  &__title{
    line-height: 13px;
    transition: all .2s;
  }
  &__list{

  }
  &__icon{

  }
  @media@before-w1170{
    width: @menu-w768;
    &::before {
      content: '';
      background-color: transparent;
      background-image: url('./../../assets/images/navbg.png');
      position: absolute;
      top:0;
      z-index: 10;
      right: -48px;
      width: 48px;
      height: 106px;
    }
    &__header{
      width: 100%;
      padding-left: @paddingLef-w768;
    }
    &__title{
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      opacity: 0;
      margin-top: 3px;
    }
    &__img{
      width:24px;
      height: 24px;
      margin-right: 10px;
    }
    &__nav{
      display: block;
      transition: all .2s;
      &:hover{
        transition: all .2s;
        color:@colorActive;
      }
      &#close{
        opacity: 0;
        z-index: 10;
      }
      &#burger{
        opacity: 1;
        z-index: 20;
      }
    }
  }
  @media@before-w500{
    width: @menu-w500;
    &__header{
      padding-left: @paddingLef-w500;
    }
  }
}

.menuList{
  font-family: @mainFont;
  &__list{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 0;
  }
  &__item{
    margin-top: 22px;
    padding: 10px 0 10px @paddingLeft;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: start;
    color: @colorMenu;
    transition: all .2s;
    &_active{
      color: @colorActive;
      border-left: 4px solid #34ABE0;
    }
  }
  &__text{
    font-style: normal;
    margin-left: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all .2s;
  }
  &__icon{

  }
  &__link{
    color: unset;
    text-decoration: none;
    display: flex;
  }


  @media@before-w1170{
    &__item{
      padding-left: @paddingLef-w768;
    }
    &__text{
      opacity: 0;
    }
  }
  @media@before-w500{
    &__icon{
      display: none;
    }
    &__item{
      padding-left: @paddingLef-w500;
      opacity: 0;
    }
    &__text{
      margin-left: 0;
      opacity: 0;
    }
  }
}
