.shops {
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  background-color: #FAFAFA;
  padding: @containerPadding;
  max-width: 1200px;
  &__item {

  }
  @media@before-w1170{
    padding: @containerPadding-w768;
  }
  @media@before-w768{
    justify-content: center;
  }
  @media@before-w500{
    padding: @containerPadding-w500;
  }
}

.cart {
  width: 31%;
  margin: 20px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  max-width: 341px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: all .2s;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 48%;
    z-index: 100;
    width: 10px;
    height: 10px;
    border-right: 1px solid #FAFAFA;
    border-top: 1px solid #FAFAFA;
    border-radius: 1px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(45deg);
    background-color: #FAFAFA;
    left: -6px;
    transition: all .2s;
  }
  &::after {
    left: unset;
    border-right: 0;
    border-top: 0;
    border-left: 1px solid #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
    right: -6px;
  }
  &:hover{
    transition: all .2s;
    border: 1px solid #df212d;
    &::before, &::after{
      border: 0;
      border-top: 1px solid #df212d;
      border-right: 1px solid #df212d;
      transition: all .2s;
    }
    &::after{
      border-top: 0;
      border-right: 0;
      border-left: 1px solid #df212d;
      border-bottom: 1px solid #df212d;
    }
  }

  &__info {
    padding: 16px 5px 16px 20px;
  }

  &__item {
    &_header {
      margin-bottom: 43px;
    }
  }

  &__title {
    font-family: @fontCard;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: @color1;
  }

  &__text {
    font-family: @fontCard;
    font-size: 15px;
    margin-top: 5px;
    line-height: 16px;
    color: @color1;
    opacity: 0.5;
  }

  &__sale {
    font-family: @fontCard;
    font-weight: 600;
    color: #DF212D;
    font-size: 36px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__textSale {
    font-family: @fontCard;
    margin-top: 7px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    color: @color1;
    opacity: 0.5;
  }

  &__picture {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  &__image {
    max-height: 161px;
  }
  @media@before-w1340{
    width: 46%;
  }
  @media@before-w1170{
    &__title{
      font-size: 14px;
    }
    &__text{
      font-size: 14px;
    }
  }
  @media@before-w768{
    width: 100%;
  }
  @media@before-w500{
    margin: 0 0 15px;
    &__image {
      max-height: 144px;
    }
    &__title{
      font-size: 12px;
    }
    &__text{
      font-size: 12px;
    }
    &__sale {
      font-size: 28px;
    }
    &__textSale{
      font-size: 12px;
    }
    &__item_header{
      margin-bottom: 22px;
    }
    &__image{
      max-height: 130px;
    }
  }
}