<div class="headerPage">
    <h1 class="headerPage__title" id="headerPageTitle"></h1>
    <div class="headerPage__search search">
        <input  class="search__input" id="searchInput" type="text" placeholder="Какой магазин вам нужен?">
        <svg class="search__icon" width="20" height="20" id="searchIcon">
            <use xlink:href="assets/icons/symbols.svg#search"
                 xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </div>
</div>