<div class="menu">
    <div class="menu__nav" id="burger">
        <svg class="menu__icon" width="24" height="24">
            <use xlink:href="assets/icons/symbols.svg#burger"
                 xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </div>
    <div class="menu__nav" id="close">
        <svg class="menu__icon" width="24" height="24">
            <use xlink:href="assets/icons/symbols.svg#close"
                 xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </div>
    <div class="menu__header">
        <img src="assets/images/logo.png" class="menu__img" alt="img">
        <h3 class="menu__title">BECO</h3>
    </div>
    <div class="menu__list menuList">
        <ul class="menuList__list">
            <li class="menuList__item" data-title="Каталог">
                <a href="#" class="menuList__link">
                    <svg class="menuList__icon" width="24" height="24">
                        <use xlink:href="assets/icons/symbols.svg#catalog"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Каталог</span>
                </a>
            </li>
            <li class="menuList__item menuList__item_active" data-title="Здоровье">
                <a href="#" class="menuList__link">
                    <svg class="menuList__icon" width="24" height="24">
                        <use xlink:href="assets/icons/symbols.svg#health"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Здоровье</span>
                </a>
            </li>
            <li class="menuList__item " data-title="Красота">
                <a href="#" class="menuList__link" >
                    <svg class="menuList__icon" width="24" height="22">
                        <use xlink:href="assets/icons/symbols.svg#beauty"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Красота</span>
                </a>
            </li>
            <li class="menuList__item " data-title="Развлечения">
                <a href="#" class="menuList__link">
                    <svg class="menuList__icon" width="22" height="24">
                        <use xlink:href="assets/icons/symbols.svg#entertainment"
                             xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Развлечения</span>
                </a>
            </li>
            <li class="menuList__item " data-title="Авто">
                <a href="#" class="menuList__link">
                    <svg class="menuList__icon" width="24" height="24">
                        <use xlink:href="assets/icons/symbols.svg#car" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="menuList__text">Авто</span>
                </a>
            </li>
        </ul>
    </div>
</div>