<div class="shops">
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    пробка на мира
                </div>
                <div class="cart__text">
                    Вечер
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    50%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/wine.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    кИНО И НЕМЦЫ
                </div>
                <div class="cart__text">
                    Бесплатный бокал пива
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    ВАРВАР
                </div>
                <div class="cart__textSale">
                    ПРОМОКОД
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/beer.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    valery cakes
                </div>
                <div class="cart__text">
                    Торт
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    30%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/cake.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    sushi sell
                </div>
                <div class="cart__text">
                    Набор “Праздник”
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    45%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/sushi.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    mangosteen
                </div>
                <div class="cart__text">
                    Фрукт в подарок
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    J130
                </div>
                <div class="cart__textSale">
                    купон
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/pineapple.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    теленок табака
                </div>
                <div class="cart__text">
                    Стейк “Мачете”
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    20%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/calf.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    fire food
                </div>
                <div class="cart__text">
                    Вторая шаурма в подарок
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    ОГОНЬ
                </div>
                <div class="cart__textSale">
                    промокод
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/shawarma.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    aroma cremeria
                </div>
                <div class="cart__text">
                    Джелато “Пармезан”
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    20%
                </div>
                <div class="cart__textSale">
                    Скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/frozen.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    пробка на мира
                </div>
                <div class="cart__text">
                    Вечер для двоих
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    J130
                </div>
                <div class="cart__textSale">
                    КУПОН
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/wine.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    Кино и немцы
                </div>
                <div class="cart__text">
                    Бесплатный бокал пива
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    ВАРВАР
                </div>
                <div class="cart__textSale">
                    ПРОМОКОД
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/beer.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    VALERY CAKES
                </div>
                <div class="cart__text">
                    Торт
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    30%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/cake.png" class="cart__image" alt="img">
        </div>
    </div>
    <div class="shop_item cart">
        <div class="cart__info">
            <div class="cart__item cart__item_header">
                <div class="cart__title">
                    sushi sell
                </div>
                <div class="cart__text">
                    Набор “Праздник”
                </div>
            </div>
            <div class="cart__item">
                <div class="cart__sale">
                    45%
                </div>
                <div class="cart__textSale">
                    скидка
                </div>
            </div>
        </div>
        <div class="cart__picture">
            <img src="assets/images/cart/sushi.png" class="cart__image" alt="img">
        </div>
    </div>
</div>